<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Setup
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Stimulator patterns limits
    </ion-list-header>
    <ion-item>
      <ion-label>Pulse width [%]</ion-label>
    </ion-item>
    <ion-item>
      <ion-range (ionChange)="changed()" id="PWbar" dualKnobs="true" min="0" max="100" 
                step="5" snaps="true" pin="true" [(ngModel)]="knPW"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Frequency [Hz]</ion-label>
    </ion-item>
    <ion-item>
      <ion-range (ionChange)="changed()" id="Freqdual" dualKnobs="true" min="2" max="150" 
      step="1" snaps="true" pin="true" [(ngModel)]="knFreq"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Amplitude [mA]</ion-label>
    </ion-item>
    <ion-item>
      <ion-range (ionChange)="changed()" id="Ampldual" dualKnobs="true" min="10" max="350" step="10"
       snaps="true" pin="true" [(ngModel)]="knAmp"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Number of channels</ion-label>
    </ion-item>
    <ion-item>
      <ion-range (ionChange)="changed()" id="Channelsbar" dualKnobs="false" min="1" max="6" step="1" snaps="true" pin="true" [(ngModel)]="knChNum"></ion-range>
    </ion-item>

    <ion-item>
      <ion-label>Server IP</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="url" placeholder="http://192.168.1.1" [(ngModel)]="tIP"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Patient ID</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="number" placeholder="patient's document" [(ngModel)]="tPatientID"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Stimulator key</ion-label>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="abcde12345" [(ngModel)]="tStimKey"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="validar()" expand="block" >
    <ion-icon slot="start" name="checkmark-outline"></ion-icon>
    Validar
  </ion-button>
  <ion-button (click)="guardar()" expand="block"  [disabled]="validado==0" >
    <ion-icon slot="start" name="save-outline"></ion-icon>
    Guardar y volver
  </ion-button>
  <ion-button (click)="reestablecer()" expand="block">
    <ion-icon slot="start" name="reload-outline"></ion-icon>
    Reestablecer
  </ion-button>

</ion-content>
<script>
  const dualRange = document.querySelector('#dual-range');
  dualRange.value = { lower: 33, upper: 60 };
</script>