<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Connect
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="onClick()" expand="block" >
    Explorar ...
  </ion-button>

  <div *ngFor="let d of dis">
    {{d.id}}
    {{d.address}}
    {{d.name}}
    <ion-button (click)="establecerMAC(d.address)" expand="block" >
      Conectar
    </ion-button>

  </div>
  <ion-button (click)="uploadToStim()" expand="block" >
    Grabar en estimulador
  </ion-button>
</ion-content>
